
@font-face {
    font-family: 'DaysSansLight';
    src: url('../fonts/TTDaysSans-Light.eot');
    src: local('../fonts/TTDaysSans-Light.eot'), url('../fonts/TTDaysSans-Light.woff') format('woff'), url('../fonts/TTDaysSans-Light.ttf') format('truetype'), url('../fonts/TTDaysSans-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DaysSansBold';
    src: url('../fonts/TTDaysSans-Bold.eot');
    src: local('../fonts/TTDaysSans-Bold.eot'), url('../fonts/TTDaysSans-Bold.woff') format('woff'), url('../fonts/TTDaysSans-Bold.ttf') format('truetype'), url('../fonts/TTDaysSans-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DaysSansBlack';
    src: url('../fonts/TTDaysSans-Black.eot');
    src: local('../fonts/TTDaysSans-Black.eot'), url('../fonts/TTDaysSans-Black.woff') format('woff'), url('../fonts/TTDaysSans-Black.ttf') format('truetype'), url('../fonts/TTDaysSans-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Days';
    src: url('../fonts/days_regular.eot');
    src: local('☺'), url('../fonts/days_regular.woff') format('woff'), url('../fonts/days_regular.ttf') format('truetype'), url('../fonts/days_regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}